<!-- Map Popup Template -->
<div id="mapop" class="col-xs-12 col-sm-6 infowindow_map">
	<div class="mapop-content">
		<a href="#">
			<img src="" alt="">
		</a>
		<div class="result-item__price nosale center col-xs-12">
			<span class="currency">from $<span class="price"></span>/night</span>
		</div>
		<div class="col-xs-12 text-center" style="margin-bottom: 20px;">
			<div class="col-xs-12 no-padding">
				<span class="prop_title">
					<a href="#"><b class="prop-title"></b></a>
				</span>
			</div>
		</div>
	</div>
</div>